/* https://tondy67.github.io/style.css */
#abv-ts{
width:360px;
height:400px;
position:fixed;
top:0px;left:600px;
color:red;
z-index:110000;
border:1px solid blue;
overflow: auto;
padding:4px;
}
body {
 background-color: white;
 color:#007;
 font-family: Verdana;
 overflow:hidden;
 padding: 10px;
 overflow-y: auto;
}
.body{overflow:hidden;}
#main,#header {
 background-color: #fefefe;
 width: 100%;
 overflow: hidden;
}
#header{
 position:fixed;
}
#main{
/* height: 1000px;border: 2px solid red;*/
 padding: 50px 5px;
 min-height: 500px;
 
/* overflow-y: auto;*/
}
#main img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 30%;
}
#main a{
 color: #007;
 border-bottom:1px solid #cdf;
 box-shadow:inset 0 -4px 0 #b4e7f8;
}
#main a:hover {
 color: #336699;
}
#nodes a{
 border:none;
 box-shadow:none;
}
#header #htitle{text-align:center;}
.board, .app{
 position:absolute;
 width:99%;
 height:98%;
 border:none;overflow: hidden;min-height: 500px;
 padding: 5px 5px;
 overflow-y: auto;
 visibility: hidden;
 background-color: white;
}
.toast{
 box-shadow: 0 0 15px #888;
 border-radius: 5px;
 background: rgba(255,165,0, 0.1);
 display:none;
 color:red;
 margin:auto;
 padding:8px;
 width:280px;
 text-align:center;
 overflow: hidden;
}
.board{
 top:50px;
 left:10px;
/* width:96%;
 height:90%;
 border: 1px solid red;*/
}
.app{
 top:0;
 left:0;
/*border: 1px solid red;*/
}
#header {
 left:0px;
 top:0px;
 height: 42px;
 background: rgba(245, 245, 245, 0);
 z-index:10000;
 color:#58d;
 font-family: 'Allura', cursive;
 font-size: 42px;
 text-shadow: 0px 0px 8px #aaa;
 overflow: hidden;
 padding: 0px 8px; 
 text-align: center; 
}
#header a {
 float: left; 
 text-align: left; 
 width: 33%;  
 padding: 2px 0; 
 transition: all 0.3s ease; 
 color: #58d; 
}
#header a:hover {
 background-color: #eee; 
}
#header #ropennav{text-align: right;}
#header .opennav{font-size: 32px;}
.nav input[type=text]{
/* float: right;
 padding: 6px;*/
 border: none;
 margin-top: 8px;
 font-size: 20px;
 background: rgba(245, 245, 245, 0.8);
}
#search{
 text-align: right; 
 padding-left:8px;
}
#search button{
 border: none;
 font-size: 20px;
 background: rgba(245, 245, 245, 0.8);
 cursor: pointer;
}
#lsidenav{left: 0;}
#rsidenav{right: 0;}
.nav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 10002;
 top: 0;
 
 background: #007;
 overflow-x: hidden;
 padding-top: 60px;
 transition: 0.5s;
}
.nav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #cdf;
 display: block;
 transition: 0.3s;
}
.nav a:hover {
 color: #f1f1f1;
}
.nav .closenav {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 30px;
}
#footer {
	width:100%;
/*
	bottom:0px;
 height: 20px;
 background-color: #f5f5f5;
 border-top: 1px solid #ddd;
 overflow: hidden;
 text-align:right;
 */
}
#footer a {
 float: left;
 text-align: left;
 width: 25%;
 padding: 12px 0;
 transition: all 0.3s ease;
 color: #58d;
 font-size: 16px;
}
#footer a:hover {
 background-color: #555;
}
a{
 color: #007;
 text-decoration: none;
}
a:hover {
 color: #336699;
}

.stats, .name, .desc{
	margin:0px;
	padding:0px;
}
.stats{
	text-align:center;
	display:block;
}
.item, .user{
 width:200px;
 height:250px;
 text-align:center;
 float: left;
 padding: 5px;
 margin:15px;
}
.user{
 width:130px;
 height:150px;
 margin:10px;
}
.icon{
 font-size:1.5em; 
 cursor: pointer;
}
.icon:hover {
 color: #369;
}
#tools a {
 font-size:2em; 
 float: left; 
 color: #cdf; 
 margin:10px;
 padding: 5px;
}
#tools a:hover {
 color: #369; 
}
.shadow{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.uppercase{
text-transform: uppercase;
}
/*
.box{
 margin:5px;
}*/
ul{
 list-style-type: none;
 padding-left:0;
} 
.tbl li {
display: inline-block;
margin:1px;
}
li .lcol{
 width:110px;
}
/* modal  */
#main img {
 box-shadow: 0 0 15px #888;
 border-radius: 5px;
 cursor: pointer;
 transition: 0.3s;
}
#main img:hover {opacity: 0.7;}

#modal {
 display: none;
 position: fixed;
 z-index: 1;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.9);
 z-index:100000;
}
.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
}
#caption {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 10px 0;
 height: 150px;
}
.modal-content, #caption { 
 -webkit-animation-name: zoom;
 -webkit-animation-duration: 0.6s;
 animation-name: zoom;
 animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
 from {-webkit-transform:scale(0)} 
 to {-webkit-transform:scale(1)}
}

@keyframes zoom {
 from {transform:scale(0)} 
 to {transform:scale(1)}
}

#closebox {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #f1f1f1;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
}
#closebox:hover,
#closebox:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}

/********************/
.lcol { 
  float: left;
  width: 70%;
}
.rcol {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px){
 .modal-content { width: 100%; }
 #header a { width: 85%;}
 #header .opennav{width: 32%;}
 .lcol, .rcol {width: 100%;padding: 0;}
}
